/* Footer.module.css */
.link {
  font-size: 12px;
  color: #c9c9c9; /* Set your desired link color */
  margin-right: 10px; /* For GitHub link, to maintain spacing */
}

.link:last-child {
  margin-right: 0; /* Remove right margin for the last link */
}

.link:hover {
  color: #006100; /* Change link color on hover */
}

.icon_gh {
  width: 16px; /* Example size, adjust as needed */
  height: auto;
  margin: 0 5px; /* Add some spacing around icons if desired */
  opacity: 0.6; /* Set opacity to 60% */
}

.icon_x {
  width: 14px; /* Example size, adjust as needed */
  height: auto;
  margin: 0 5px; /* Add some spacing around icons if desired */
  opacity: 0.6; /* Set opacity to 60% */
}
