/* Prime.module.css adjustments */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center children vertically */
  align-items: center;
  background-color: rgb(28, 28, 28);
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.primeNumber {
  color: #006100;
  font-size: 50px;
  position: absolute; /* Use absolute positioning */
  bottom: 60%; /* Adjust based on the total height of the formContainer */
  transform: translateY(50%); /* Precisely control the vertical position */
}

.formContainer {
  display: flex; /* Ensure form elements are aligned horizontally */
  gap: 8px; /* Adds some space between the input and the button */
  position: relative; /* Establish a positioning context */
  margin-bottom: 100px; /* Maintain a space from the bottom */
}

.input,
.button {
  height: 40px; /* Ensures input and button have the same height */
  padding: 0 12px; /* Adjust padding as necessary */
  font-size: 16px;
  background-color: transparent; /* For the input */
  color: #ffffff; /* Text color for the input */
  outline: none;
}

.input {
  border: 0px solid #ffffff; /* Adds a border to make the input visible */
}

.button {
  height: 30px; /* Adjusted to fit the button's content */
  background-color: #000000; /* Button color */
  color: #006100; /* Button text color */
  border: 1px solid #006100; /* Makes the button's border visible and consistent with its text color */
  border-radius: 4px; /* Adjusted to match input border-radius */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
