/* Prime.module.css adjustments */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center children vertically */
  align-items: center;

  padding: 0px;
  width: 100vw;
  height: 100vh;
}

.primeNumber {
  color: #006100;
  font-size: 50px;
  font-weight: 900;
  position: absolute; /* Use absolute positioning */
  bottom: 50%; /* Adjust based on the total height of the formContainer */
  transform: translateY(50%); /* Precisely control the vertical position */
}

.formContainer {
  display: flex; /* Ensure form elements are aligned horizontally */
  gap: 8px; /* Adds some space between the input and the button */
  position: absolute; /* Establish a positioning context */
  margin-bottom: 10px; /* Maintain a space from the bottom */
  bottom: 30%; /* Align the form to the bottom */
}

.input {
  outline: none;
  height: 40px;
  padding: 0 12px;
  font-size: 16px;
  border: 0px solid #ffffff;
  color: #006100;
  background-color: transparent; /* For the input */
}

.button {
  height: 30px; /* Adjusted to fit the button's content */
  padding: 0 12px; /* Adjust padding as necessary */
  background-color: transparent; /* Transparent background */
  color: #006100; /* Button text color */
  border: 1px solid #006100; /* Makes the button's border visible and consistent with its text color */
  border-radius: 4px; /* Adjusted to match input border-radius */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
